extends layout

block content
    br
    .container
        .row
            br
            .col-sm-5(style='border-radius: 5px ; background: #EA5F2E; padding: 2%; text-align: center ')
                a(style='text-decoration: none; color: #F8F8F8; text-align: center' href='/news')
                    img(style='weight: 40px; height: 40px; float: left' src='https://previews.123rf.com/images/ginasanders/ginasanders1505/ginasanders150500463/40083113-the-word-news-written-with-lead-letters-symbolic-photo-for-newsletters-newspapers-and-information.jpg')
                    h4 News From New York Times
            .col-sm-2(style='bacground: gray; padding: 2%')
            .col-sm-5(style='border-radius: 5px; background: #01D5F7; padding: 2%; text-align: center')
                a(style='text-decoration: none; color: #F8F8F8' href='/cricket-match')
                    img(style='weight: 40px; height: 40px; float: left' src='https://previews.123rf.com/images/vectorgalaxy/vectorgalaxy1805/vectorgalaxy180500376/101122345-cricket-logo-design-isolated-on-white-background-for-your-web-and-mobile-app-design-colorful-vector-.jpg')
                    h4 Upcoming 20 Cricket Match
            br
            h1 hello
